@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

$total-width: 800px;

$line-height: 24px;
$line-margin-bottom: 5px;

$div-border-width: 0px;
$div-padding: 5px;
$div-extra-width: calc($div-border-width * 2) + calc($div-padding * 2);
$div-half-width: calc($total-width / 2) - 1px;

$input-border-width: 1px;
$input-padding: 2px;

$header-label-width: $total-width - $div-extra-width - 1px;

$basics-label-width: 95px;
$input-number-width: 45px;
$input-half-width: $div-half-width - $div-extra-width;
$label-input-half-width: $input-half-width - $basics-label-width;
$basics-textarea-font-size: 11px;
$basics-textarea-margin: 3px;

$bio-label-width: 60px;
$bio-spacer-width: 60px;
$bio-input-width: 60px;
$bio-input-padding: 14px;
$bio-textarea-margin: 10px;

$stats-label-width: 100px;
$div-labels-width: $stats-label-width + $div-extra-width;
$div-stat-width: calc(($total-width - $div-labels-width) / 6) - 1px;

$stat-input-width: $div-stat-width - $div-extra-width;
$stat-input-padding: 15px;

$inventory-label-width: 40px;
$inventory-button-margin: 10px;
$inventory-modify-margin: 5px;
$inventory-line-height: 10px;
$inventory-spacer-width: calc($line-height * 2) + calc($inventory-modify-margin * 2);
$inventory-input-width: $total-width - $div-extra-width - $inventory-label-width - $inventory-spacer-width - 1px;

$label-font-size: 15px;
$label-font-size-small: 14px;
$label-font-size-large: 19px;
$label-font-size-very-large: 22px;
$label-font-weight: 700;

$vaarn-blue: rgb(32,88,141);

div, input, select, textarea { box-sizing: border-box; }

div {
  border: $div-border-width solid black;
}

fieldset, div.repcontainer, div.repitem, div.repcontrol, div.itemcontrol {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

input, select, textarea {
  border: $input-border-width solid gray;
  padding: $input-padding;
}

textarea {
  vertical-align: top;
  min-height: $line-height !important;
  height: $line-height !important;
  resize: vertical;
  margin-bottom: $line-margin-bottom;
}

label, input, select {
  vertical-align: top;
  height: $line-height !important;
  line-height: $line-height !important;
  margin-bottom: $line-margin-bottom;
}

label, input[type="number"] { 
  font-family: 'Crimson Text', Arial;
  font-weight: $label-font-weight;
  color: $vaarn-blue !important;
  padding: 0;
  text-align: center;
}
label { font-size: $label-font-size; }
input[type="number"] { font-size: $label-font-size-large; }
label.sheet-small      { font-size: $label-font-size-small; }
label.sheet-large      { font-size: $label-font-size-large; }
label.sheet-very-large { font-size: $label-font-size-very-large; letter-spacing: 3px; }

.sheet-clear {
  clear: both;  
  height: 0;
}

div.sheet-vaarn-character {
  width: $total-width;

  div { padding: $div-padding; text-align: center; }
  label { display: inline-block; width: $basics-label-width; }
  textarea { width: $input-half-width; }
  input[type="number"] { width: $input-number-width; }

  div.sheet-header {
    width: $total-width;
    label {
      width: $header-label-width;
      margin: 0;
      padding-top: $line-margin-bottom;
      padding-bottom: $line-margin-bottom;
      border-top: 1px solid $vaarn-blue;
      border-bottom: 1px solid $vaarn-blue;
    }
  }

  div.sheet-basics {
    float: left;
    width: $div-half-width;
    label              { width: $basics-label-width; }
    input[type="text"] { width: $label-input-half-width; }
    select             { width: $label-input-half-width; }

    div.sheet-auto-expand {
      margin-top: $basics-textarea-margin;
      font-size: $basics-textarea-font-size;
      border: 0;
    }
  }
  div.sheet-bio {
    float: left;
    width: $div-half-width;
    label                 { width: $bio-label-width; }
    span.sheet-spacer     { display: inline-block; width: $bio-spacer-width; }
    input[type="number"]  { width: $bio-input-width; padding-left: $bio-input-padding; }
    div.sheet-auto-expand { margin-top: $bio-textarea-margin; }
  }

  div.sheet-labels {
    float: left;
    width: $div-labels-width;
    label              { width: $stats-label-width; }
  }
  div.sheet-stat {
    float: left;
    width: $div-stat-width;
    input, textarea    { width: $stat-input-width; }
    input {
      padding-left: $stat-input-padding;
    }
  }

  div.sheet-notes {
    width: $total-width;
  }

  div.sheet-inventory {
    width: $total-width;
    counter-reset: inventory;

    label { width: $inventory-label-width; }
    label::before { counter-increment: inventory; content: "#" counter(inventory); }
    input { width: $inventory-input-width; vertical-align: top; }

    div.repcontainer {
      line-height: $inventory-line-height;
      div.repitem {
        display: inline-block;
        height: $line-height;
      }
    }

    input.sheet-inventory-encumbered[value="1"] ~ .repcontainer label { color: red !important; }
    input.sheet-inventory-overloaded[value="1"] ~ .repcontainer label { font-style: italic; }

    span.sheet-spacer {
      display: inline-block;
      width: $inventory-spacer-width;
      margin-bottom: $line-margin-bottom;
      button {
        height: $line-height;
        width: $line-height;
        padding: 0;
        box-sizing: border-box;
        float: right;
        margin-left: $inventory-modify-margin;
        border-radius: 4px;
      }
    }

    div.itemcontrol {
      a, button {
        height: $line-height;
        width: $line-height;
        padding: 0;
        box-sizing: border-box;
        float: right;
        margin-left: $inventory-modify-margin;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    div.repcontrol {
      display: inline-block;
      width: 100%;
      button { 
        font-family: 'Crimson Text', Arial;
        font-size: $label-font-size;
        font-weight: $label-font-weight;
        color: $vaarn-blue !important;
        text-align: center;
        text-transform: uppercase;
        float: right;
        margin-left: $inventory-button-margin;
      }
    }
  }
}


// textarea autoexpand https://app.roll20.net/forum/post/882997/css-wizardry/?pageforid=5603982#post-5603982
.sheet-auto-expand {
  border: $input-border-width solid gray;
	position: relative;
	cursor: text;
	word-wrap: break-word;
  min-height: $line-height;
  margin-bottom: $line-margin-bottom;
}
.sheet-auto-expand span {
	visibility: hidden;
	white-space: pre-wrap;
	display: block;
}
.sheet-auto-expand textarea {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	resize: none;
	height: 100% !important;
	width: 100% !important;
	display: block;
	box-sizing: border-box;
	background: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: inherit;
	text-align: inherit;
	text-transform: inherit;
}
