@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

$total-width: 800px;

$label-font-size: 15px;
$label-font-size-small: 14px;
$label-font-size-large: 19px;
$label-font-size-very-large: 22px;
$label-font-weight: 700;
$textarea-font-size: 13px;

$vaarn-blue: rgb(32,88,141);
$encumbered-red: red;
$input-background-gray: rgb(245, 245, 245);
$background-white: rgb(255, 255, 255);

$line-height: 24px;
$textarea-line-height: 12px;
$line-margin-bottom: 5px;

$div-border-width: 0px;
$div-padding: 5px;
$div-extra-width: calc($div-border-width * 2) + calc($div-padding * 2);
$div-half-width: calc($total-width / 2) - 1px;

$input-border-width: 1px;

$header-label-width: $total-width - $div-extra-width - 1px;

$basics-label-width: 95px;
$input-number-width: 45px;
$input-half-width: $div-half-width - $div-extra-width;
$label-input-half-width: $input-half-width - $basics-label-width;
$basics-textarea-font-size: 11px;
$basics-textarea-margin: 3px;

$bio-label-width: 60px;
$bio-spacer-width: 60px;
$bio-input-width: 60px;
$bio-input-padding: 14px;
$bio-textarea-margin: 10px;

$abilitys-label-width: 100px;
$div-labels-width: $abilitys-label-width + $div-extra-width;
$div-ability-width: calc(($total-width - $div-labels-width) / 6) - 1px;

$ability-input-width: $div-ability-width - $div-extra-width;
$ability-input-padding: 15px;

$item-label-width: 40px;
$item-button-margin: 10px;
$item-modify-margin: 5px;
$item-line-height: 10px;
$item-slots-width: 60px;
$item-slots-padding: 14px;
$item-slots-padding-top: 2px;
$item-type-width: 80px;
$item-spacer-width: calc($line-height * 2) + calc($item-modify-margin * 2);
$item-name-width: $total-width - $div-extra-width - $item-label-width - $item-spacer-width - $item-slots-width - $item-modify-margin - $item-type-width - $item-modify-margin - 1px;


// BASIC ELEMENT CONFIG

div, input, select, textarea { box-sizing: border-box; }

fieldset, div.repcontainer, div.repitem, div.repcontrol, div.itemcontrol {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.sheet-clear { clear: both;  height: 0; }

// BORDERS

div { border: $div-border-width solid black; }
input, select, textarea { border: $input-border-width solid gray; }

// BACKGROUND COLORS

div.sheet-vaarn-character { background-color: $background-white !important; }
input, select, textarea { background-color: inherit !important; }

// FONTS

label, input[type="number"], select { 
  font-family: 'Crimson Text', Arial;
  font-weight: $label-font-weight;
  color: $vaarn-blue !important;
  padding: 0;
  text-align: center;
}
label { font-size: $label-font-size; }
label.sheet-small      { font-size: $label-font-size-small; }
label.sheet-large      { font-size: $label-font-size-large; }
label.sheet-very-large { font-size: $label-font-size-very-large; letter-spacing: 3px; }
input[type="number"] { font-size: $label-font-size-large; }
select { font-size: $label-font-size; }

// INPUT CONFIGURATION

label, input, select, textarea {
  vertical-align: top;
  margin-bottom: $line-margin-bottom;
  height: $line-height !important;
  height: $line-height !important;
}

textarea {
  min-height: $line-height !important;
  resize: vertical;
}

label, input, select {
  line-height: $line-height !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

// LAYOUT CONFIG

div.sheet-vaarn-character {
  width: $total-width;

  div { padding: $div-padding; text-align: center; }
  label { display: inline-block; width: $basics-label-width; }
  textarea { width: $input-half-width; }
  input[type="number"] { width: $input-number-width; }

  div.sheet-header {
    width: $total-width;
    label {
      width: $header-label-width;
      margin: 0;
      padding-top: $line-margin-bottom;
      padding-bottom: $line-margin-bottom;
      border-top: 1px solid $vaarn-blue;
      border-bottom: 1px solid $vaarn-blue;
    }
  }

  div.sheet-basics {
    float: left;
    width: $div-half-width;
    label              { width: $basics-label-width; }
    input[type="text"] { width: $label-input-half-width; }
    select             { width: $label-input-half-width; }

    div.sheet-auto-expand {
      margin-top: $basics-textarea-margin;
      font-size: $basics-textarea-font-size;
      border: 0;
    }
  }
  div.sheet-bio {
    float: left;
    width: $div-half-width;
    label                 { width: $bio-label-width; }
    span.sheet-spacer     { display: inline-block; width: $bio-spacer-width; }
    input[type="number"]  { width: $bio-input-width; padding-left: $bio-input-padding; }
    div.sheet-auto-expand { margin-top: $bio-textarea-margin; }
  }

  div.sheet-labels {
    float: left;
    width: $div-labels-width;
    label              { width: $abilitys-label-width; }
  }
  div.sheet-ability {
    float: left;
    width: $div-ability-width;
    input, textarea    { width: $ability-input-width; }
    input {
      padding-left: $ability-input-padding;
    }
  }

  div.sheet-notes {
    width: $total-width;
  }

  div.sheet-item {
    width: $total-width;
    counter-reset: item;

    label { width: $item-label-width; }
    label::before { content: "#" counter(item); }

    label { counter-increment: item; }
    input.sheet-item-slots-hidden[value="2"] ~ label { counter-increment: item 2; }
    input.sheet-item-slots-hidden[value="3"] ~ label { counter-increment: item 3; }
    input.sheet-item-slots-hidden[value="4"] ~ label { counter-increment: item 4; }
    input.sheet-item-slots-hidden[value="5"] ~ label { counter-increment: item 5; }
    input.sheet-item-slots-hidden[value="6"] ~ label { counter-increment: item 6; }
    input.sheet-item-slots-hidden[value="7"] ~ label { counter-increment: item 7; }
    input.sheet-item-slots-hidden[value="8"] ~ label { counter-increment: item 8; }
    input.sheet-item-slots-hidden[value="9"] ~ label { counter-increment: item 9; }
    input.sheet-item-slots-hidden[value="10"] ~ label { counter-increment: item 10; }

    input.sheet-item-name { width: $item-name-width; vertical-align: top; }
    input.sheet-item-slots {
      width: $item-slots-width;
      padding-left: $item-slots-padding;
      margin-left: $item-modify-margin;
      vertical-align: top;
      padding-top: $item-slots-padding-top;
    }
    input.sheet-item-slots::placeholder {
      font-size: $label-font-size-small;
      padding-top: 0;
    }

    select.sheet-item-type {
      width: $item-type-width;
      margin-left: $item-modify-margin;
    }

    div.repcontainer {
      line-height: $item-line-height;
      div.repitem {
        display: inline-block;
        height: $line-height;
      }
    }

    input.sheet-item-encumbered[value="1"] ~ .repcontainer label { color: $encumbered-red !important; }
    input.sheet-item-overloaded[value="1"] ~ .repcontainer label { font-style: italic; }

    span.sheet-spacer {
      display: inline-block;
      width: $item-spacer-width;
      margin-bottom: $line-margin-bottom;
      button {
        height: $line-height;
        width: $line-height;
        padding: 0;
        box-sizing: border-box;
        float: right;
        margin-left: $item-modify-margin;
        border-radius: 4px;
      }
    }

    div.itemcontrol {
      a, button {
        height: $line-height;
        width: $line-height;
        padding: 0;
        box-sizing: border-box;
        float: right;
        margin-left: $item-modify-margin;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    div.repcontrol {
      display: inline-block;
      width: 100%;
      button { 
        font-family: 'Crimson Text', Arial;
        font-size: $label-font-size;
        font-weight: $label-font-weight;
        color: $vaarn-blue !important;
        text-align: center;
        text-transform: uppercase;
        float: right;
        margin-left: $item-button-margin;
      }
    }
  }
}


// textarea autoexpand https://app.roll20.net/forum/post/882997/css-wizardry/?pageforid=5603982#post-5603982
.sheet-auto-expand {
  border: $input-border-width solid gray;
	position: relative;
	cursor: text;
	word-wrap: break-word;
  min-height: $line-height;
  margin-bottom: $line-margin-bottom;
  line-height: $textarea-line-height;
  font-size: $textarea-font-size;
}
.sheet-auto-expand span {
	visibility: hidden;
	white-space: pre-wrap;
	display: block;
}
.sheet-auto-expand textarea {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	resize: none;
	height: 100% !important;
	width: 100% !important;
	display: block;
	box-sizing: border-box;
	background: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: inherit;
	text-align: inherit;
	text-transform: inherit;
  font-size: inherit;
}
