@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
div, input, select, textarea {
  box-sizing: border-box;
}

div {
  border: 0px solid black;
}

fieldset, div.repcontainer, div.repitem, div.repcontrol, div.itemcontrol {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

input, select, textarea {
  border: 1px solid gray;
  padding: 2px;
}

textarea {
  vertical-align: top;
  min-height: 24px !important;
  height: 24px !important;
  resize: vertical;
  margin-bottom: 5px;
}

label, input, select {
  vertical-align: top;
  height: 24px !important;
  line-height: 24px !important;
  margin-bottom: 5px;
}

label, input[type=number] {
  font-family: "Crimson Text", Arial;
  font-weight: 700;
  color: rgb(32, 88, 141) !important;
  padding: 0;
  text-align: center;
}

label {
  font-size: 15px;
}

input[type=number] {
  font-size: 19px;
}

label.sheet-small {
  font-size: 14px;
}

label.sheet-large {
  font-size: 19px;
}

label.sheet-very-large {
  font-size: 22px;
  letter-spacing: 3px;
}

.sheet-clear {
  clear: both;
  height: 0;
}

div.sheet-vaarn-character {
  width: 800px;
}
div.sheet-vaarn-character div {
  padding: 5px;
  text-align: center;
}
div.sheet-vaarn-character label {
  display: inline-block;
  width: 95px;
}
div.sheet-vaarn-character textarea {
  width: 389px;
}
div.sheet-vaarn-character input[type=number] {
  width: 45px;
}
div.sheet-vaarn-character div.sheet-header {
  width: 800px;
}
div.sheet-vaarn-character div.sheet-header label {
  width: 789px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid rgb(32, 88, 141);
  border-bottom: 1px solid rgb(32, 88, 141);
}
div.sheet-vaarn-character div.sheet-basics {
  float: left;
  width: 399px;
}
div.sheet-vaarn-character div.sheet-basics label {
  width: 95px;
}
div.sheet-vaarn-character div.sheet-basics input[type=text] {
  width: 294px;
}
div.sheet-vaarn-character div.sheet-basics select {
  width: 294px;
}
div.sheet-vaarn-character div.sheet-basics div.sheet-auto-expand {
  margin-top: 3px;
  font-size: 11px;
  border: 0;
}
div.sheet-vaarn-character div.sheet-bio {
  float: left;
  width: 399px;
}
div.sheet-vaarn-character div.sheet-bio label {
  width: 60px;
}
div.sheet-vaarn-character div.sheet-bio span.sheet-spacer {
  display: inline-block;
  width: 60px;
}
div.sheet-vaarn-character div.sheet-bio input[type=number] {
  width: 60px;
  padding-left: 14px;
}
div.sheet-vaarn-character div.sheet-bio div.sheet-auto-expand {
  margin-top: 10px;
}
div.sheet-vaarn-character div.sheet-labels {
  float: left;
  width: 110px;
}
div.sheet-vaarn-character div.sheet-labels label {
  width: 100px;
}
div.sheet-vaarn-character div.sheet-stat {
  float: left;
  width: 114px;
}
div.sheet-vaarn-character div.sheet-stat input, div.sheet-vaarn-character div.sheet-stat textarea {
  width: 104px;
}
div.sheet-vaarn-character div.sheet-stat input {
  padding-left: 15px;
}
div.sheet-vaarn-character div.sheet-notes {
  width: 800px;
}
div.sheet-vaarn-character div.sheet-inventory {
  width: 800px;
  counter-reset: inventory;
}
div.sheet-vaarn-character div.sheet-inventory label {
  width: 40px;
}
div.sheet-vaarn-character div.sheet-inventory label::before {
  counter-increment: inventory;
  content: "#" counter(inventory);
}
div.sheet-vaarn-character div.sheet-inventory input {
  width: 691px;
  vertical-align: top;
}
div.sheet-vaarn-character div.sheet-inventory div.repcontainer {
  line-height: 10px;
}
div.sheet-vaarn-character div.sheet-inventory div.repcontainer div.repitem {
  display: inline-block;
  height: 24px;
}
div.sheet-vaarn-character div.sheet-inventory input.sheet-inventory-encumbered:invalid ~ .repcontainer label {
  color: red !important;
}
div.sheet-vaarn-character div.sheet-inventory input.sheet-inventory-overloaded:invalid ~ .repcontainer label {
  font-style: italic;
}
div.sheet-vaarn-character div.sheet-inventory span.sheet-spacer {
  display: inline-block;
  width: 58px;
  margin-bottom: 5px;
}
div.sheet-vaarn-character div.sheet-inventory span.sheet-spacer button {
  height: 24px;
  width: 24px;
  padding: 0;
  box-sizing: border-box;
  float: right;
  margin-left: 5px;
  border-radius: 4px;
}
div.sheet-vaarn-character div.sheet-inventory div.itemcontrol a, div.sheet-vaarn-character div.sheet-inventory div.itemcontrol button {
  height: 24px;
  width: 24px;
  padding: 0;
  box-sizing: border-box;
  float: right;
  margin-left: 5px;
}
div.sheet-vaarn-character div.sheet-inventory div.itemcontrol a {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.sheet-vaarn-character div.sheet-inventory div.repcontrol {
  display: inline-block;
  width: 100%;
}
div.sheet-vaarn-character div.sheet-inventory div.repcontrol button {
  font-family: "Crimson Text", Arial;
  font-size: 15px;
  font-weight: 700;
  color: rgb(32, 88, 141) !important;
  text-align: center;
  text-transform: uppercase;
  float: right;
  margin-left: 10px;
}

.sheet-auto-expand {
  border: 1px solid gray;
  position: relative;
  cursor: text;
  word-wrap: break-word;
  min-height: 24px;
  margin-bottom: 5px;
}

.sheet-auto-expand span {
  visibility: hidden;
  white-space: pre-wrap;
  display: block;
}

.sheet-auto-expand textarea {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  resize: none;
  height: 100% !important;
  width: 100% !important;
  display: block;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: inherit;
  text-align: inherit;
  text-transform: inherit;
}

/*# sourceMappingURL=VaultsOfVaarn.css.map */
